.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    padding-top: 4rem;
}

.todo_wrapper {
    margin-right: 7rem;
    font-size: 1rem;
    color: #585858;
    list-style: none;

}

.todo_item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.todo_item>button {
    margin: 0 5px;
}